<section class="section">
  <div class="container">
    <h1 class="title">NASA Images Search</h1>
    <h2 class="subtitle">
      Type something in the input below and hit the "Search" button.
    </h2>

    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" [(ngModel)]="query" (keyup.enter)="nasaImagesService.search(query)" [disabled]="nasaImagesService.isLoading">
      </div>
      <div class="control">
        <button class="button is-success" [ngClass]="nasaImagesService.isLoading ? 'is-loading' : null" (click)="nasaImagesService.search(query)">Search</button>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="image-grid" *ngIf="nasaImagesService.images$ | async as images">
      <img *ngFor="let image of images" [src]="image.uri" />

      <p *ngIf="images.length === 0">No results found.</p>
    </div>

  </div>
</section>