<section class="section">
  <div class="container">
    <h1 class="title">NASA Images Search</h1>
    <h2 class="subtitle">
      Type something in the input below and hit the "Search" button.
    </h2>

    <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" [(ngModel)]="query" (keyup.enter)="search()" [disabled]="isLoading">
      </div>
      <div class="control">
        <button class="button is-success" [ngClass]="isLoading ? 'is-loading' : null" (click)="search()">Search</button>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="image-grid" *ngIf="images$ | async as images">
      <img *ngFor="let image of images" [src]="image.uri" />
    </div>

  </div>
</section>


<!-- <router-outlet></router-outlet> -->
